@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

$font-poppins: 'Poppins', sans-serif;

$font-large:3rem;
$font-large-mobile:2rem;
$font-regular:1rem;
$font-regular-mobile:0.9rem;
$font-small:0.8rem;