@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");
html, body {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

ul {
  padding: 0;
  list-style: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  background-color: #1e1f29;
  background-image: url("../../assets/images/pattern-hills.svg"), url("../../assets/images/bg-stars.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom, top;
  font-family: "Red Hat Text", sans-serif;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title {
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  text-align: center;
  margin-bottom: 5rem;
}

.d-flex, .timer__cards, .timer__card, .timer__flip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes expand {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes expand {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.timer__cards.launched {
  -webkit-animation: expand 1s 0.5s forwards;
          animation: expand 1s 0.5s forwards;
}

.timer__card {
  position: relative;
  height: 150px;
  width: 150px;
  font-size: 4rem;
  color: #fb6087;
  -webkit-perspective: 500px;
          perspective: 500px;
}

.timer__card:not(:last-child) {
  margin: 0 1rem 0 0;
}

@media screen and (max-width: 768px) {
  .timer__card {
    height: 100px;
    width: 100px;
    font-size: 3rem;
  }
}

@media screen and (max-width: 425px) {
  .timer__card {
    height: 80px;
    width: 80px;
    font-size: 2.5rem;
  }
  .timer__card:not(:last-child) {
    margin: 0 0.5rem 0 0;
  }
}

.timer__alert {
  height: 0%;
  overflow: hidden;
  display: block;
}

.card__label {
  position: absolute;
  top: calc(100% + 1rem);
  font-size: 1rem;
  text-transform: uppercase;
}

.timer__flip {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  height: 50%;
  width: 100%;
  background-color: #343650;
  position: absolute;
  overflow: hidden;
}

.timer__flip .timer__value {
  display: block;
  position: relative;
}

.timer__flip.flip--top {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  top: 0;
  z-index: 1;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(30, 31, 41, 0.3)), color-stop(50%, transparent));
  background-image: linear-gradient(to top, rgba(30, 31, 41, 0.3), transparent 50%);
}

.timer__flip.flip--top.flip {
  -webkit-animation: flipAnimation 0.5s 1 forwards;
          animation: flipAnimation 0.5s 1 forwards;
}

@-webkit-keyframes flipAnimation {
  0% {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(30, 31, 41, 0.3)), color-stop(50%, transparent));
    background-image: linear-gradient(to top, rgba(30, 31, 41, 0.3), transparent 50%);
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    opacity: 1;
  }
  50% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#1e1f29), to(transparent));
    background-image: linear-gradient(to top, #1e1f29, transparent 100%);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(30, 31, 41, 0.3)), color-stop(50%, transparent));
    background-image: linear-gradient(to top, rgba(30, 31, 41, 0.3), transparent 50%);
    opacity: 0;
  }
}

@keyframes flipAnimation {
  0% {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(30, 31, 41, 0.3)), color-stop(50%, transparent));
    background-image: linear-gradient(to top, rgba(30, 31, 41, 0.3), transparent 50%);
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    opacity: 1;
  }
  50% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#1e1f29), to(transparent));
    background-image: linear-gradient(to top, #1e1f29, transparent 100%);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(30, 31, 41, 0.3)), color-stop(50%, transparent));
    background-image: linear-gradient(to top, rgba(30, 31, 41, 0.3), transparent 50%);
    opacity: 0;
  }
}

.timer__flip.flip--top .timer__value {
  top: 50%;
  opacity: 0.8;
}

.timer__flip.flip--top::before, .timer__flip.flip--top::after {
  content: '';
  height: 1rem;
  width: 1rem;
  background-color: #191a24;
  border-radius: 50%;
  position: absolute;
}

.timer__flip.flip--top::before {
  left: -0.5rem;
  top: calc(100% - 0.5rem);
}

.timer__flip.flip--top::after {
  right: -0.5rem;
  top: calc(100% - 0.5rem);
}

.timer__flip.flip--bottom {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  bottom: 0;
  -webkit-filter: drop-shadow(0 10px 0 #191a24);
          filter: drop-shadow(0 10px 0 #191a24);
}

.timer__flip.flip--bottom .timer__value {
  bottom: 50%;
}

.timer__flip.flip--bottom::before, .timer__flip.flip--bottom::after {
  content: '';
  height: 1rem;
  width: 1rem;
  background-color: #191a24;
  border-radius: 50%;
  position: absolute;
}

.timer__flip.flip--bottom::before {
  left: -0.5rem;
  bottom: calc(100% - 0.5rem);
}

.timer__flip.flip--bottom::after {
  right: -0.5rem;
  bottom: calc(100% - 0.5rem);
}

footer {
  margin-top: auto;
  height: 125px;
}

.social__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__link {
  margin: 0 1rem;
}

a:hover img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
/*# sourceMappingURL=index.css.map */