$white:hsl(0,0%,100%);
$black:hsl(0,0%,0%);
$light-gray:hsla(0,0%,0%,0.2);
$dark-text:hsl(229,25%,31%);
$score-text:hsl(229,64%,46%);
$header-outline:hsl(217,16%,45%);

$paper-grad:linear-gradient(to top,hsl(230, 89%, 62%), hsl(230, 89%, 65%));
$scissors-grad:linear-gradient(to top,hsl(39, 89%, 49%), hsl(40, 84%, 53%));
$rock-grad:linear-gradient(to top,hsl(349, 71%, 52%), hsl(349, 70%, 56%));
$radial-grad:radial-gradient(circle,hsl(214, 47%, 23%) 10%, hsl(237, 49%, 15%) 90%)