@import 'color.scss';
@import 'typography.scss';
@import 'breakpoints.scss';
@import 'reset.scss';

html{
    overflow-x: hidden;
}

body{
    font-family: $font-barlow;
    min-height: 100vh;
    background: $radial-grad;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:$white;
    text-transform: uppercase;
    overflow:hidden;
}

$main-size:600px;
$main-tablet-size:85%;

header,main{
    min-width: $main-size;
    @include tablet-query{
        min-width: $main-tablet-size;
        max-width: $main-tablet-size;
    }
}

header{
    position: relative;
    z-index:1;
    display: flex;
    align-items: center;
    padding:1rem;
    border:3px solid $header-outline;
    border-radius: 15px;
    margin-top:3rem;

    h1{
        line-height: 0.8;

        @include mobile-query{
            font-size:$font-regular;
        }
    }
}

.score{
    background-color: $white;
    padding:0.5rem;
    min-width: 125px;
    border-radius:10px;
    margin-left: auto;

    @include mobile-query{
        min-width: 100px;
    }

    h2{
        color:$score-text;
        font-size: $font-small;
        text-align: center;
        font-weight: normal;
    }
    &__value{
        font-size:$font-large;
        font-weight: bold;
        color:$dark-text;
        text-align: center;
        display: block;
        @include mobile-query{
            font-size: $font-regular;
        }
    }
}

$select-size:$main-size * 0.6;
$select-button-size:180px;
$select-button-size-mobile:150px;

.screen{
    margin:100px auto 0 auto;
    display: block;
    animation: fadeIn 1s 1 forwards;

    @include mobile-query{
        margin-top:100px;
    }

    &.hide{
        display: none;
    }
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform:scale(0.9);
    }
    to{
        opacity:1;
        transform:scale(1);
    }
}

.select{
    position: relative;
    height:$select-size;
    width: $select-size;
    border-radius: 50%;

    @include mobile-query{
        width: 90%;
    }

    &::before{
        content:'';
        position: absolute;
        top:0;
        left: 0;
        height: 100%;
        width: 100%;
        background-image:url("../../assets/images/bg-triangle.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }
}

.select__button{
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    height: $select-button-size;
    width: $select-button-size;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:0 -10px 0 $light-gray inset;
    transition:box-shadow 0.3s, top 1s, left 1s;

    @include mobile-query{
        height: $select-button-size-mobile;
        width: $select-button-size-mobile;
    }

    &:active{
        box-shadow: none;
        &::after{
            box-shadow: none;
        }
    }

    &::after{
        content:'';
        position: absolute;
        top:0;
        left:50%;
        transform:translateX(-50%);
        bottom:0;
        margin: auto;
        background: white;
        height: 75%;
        width: 75%;
        border-radius:50%;
        z-index: -1;
        box-shadow:0 10px 0 $light-gray inset;
        transition:box-shadow 0.3s;
    }

    &[data-value="paper"]{
        background:$paper-grad;
        left:-10%;
        top:-10%;
    }

    &[data-value="scissors"]{
        background:$scissors-grad;
        right:-10%;
        top:-10%;
    }

    &[data-value="rock"]{
        background:$rock-grad;
        top:50%;
        left:0;
        right:0;
        margin: auto;
    }

    img{
        height: 4rem;
        pointer-events: none;
    }
}


.result{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    flex-wrap: wrap;

    .result__player, .result__computer{
        position: relative;

        &.winner::after{
            content:'';
            height:100%;
            width: 100%;
            background:repeating-radial-gradient(circle, rgba(255, 255, 255,0.5) 30%, rgba(0, 0, 0, 0.05) 10%, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 1) 30%, rgba(0, 0, 0, 0.05) 30%, rgba(255, 255, 255, 1) 60%);
            position:absolute;
            top:0;
            left: 0;
            border-radius: 50%;
            transform:scale(3);
            z-index:-1;
            opacity: 0.1;

            @include tablet-query{
                transform: scale(2);
            }
        }
    }

    .result__player{
        order:1;
    }

    .result__computer{
        order:3;
    }

    &__final{
        display: none;
        margin:0 80px;      
        text-align: center;
        order:2;

        .result__text{
            font-size: $font-large;
        }

        .again__button{
            display: block;
            margin:auto;
            width: 100%;
            padding:1rem 0;
            font-family: inherit;
            text-transform: inherit;
            border-radius: 10px;
            font-size: $font-small;
        }

        &.show{
            display: block;
        }

        @include tablet-query{
            order:3;
            width: 100%;
            margin:50px 0;
        }

        @include mobile-query{
            margin:0;
        }
    }
    
    .select__text{
        font-size: $font-small + 0.5rem;
        position:absolute;
        bottom:130%;
        width: 100%;
        white-space: nowrap;
        @include mobile-query{
            font-size:$font-small;
        }
    }

    .select__text, .result__text{
        text-align: center;
        animation:fadeUp 1s 1 forwards;
    }

    .select__button{
        position: relative;
        top:unset;
        left:unset;
        right:unset;
        bottom:unset;
        margin:0;
        pointer-events: none;
        cursor: default;
        transform:scale(1.3);
        animation:scaleUp 1s 1 forwards;

        @include mobile-query{
            transform: none;
            animation:none;
        }
    }

    .select__button[data-value="none"]{
        background:$light-gray;
        box-shadow: none;
        &::after{
            display: none;
        }
    }
}

@keyframes scaleUp{
    from{
        opacity:0;
        transform:scale(1);
    }
    to{
        opacity: 1;
        transform:scale(1.3);
    }
}

@keyframes fadeUp{
    from{
        opacity:0;
        transform:translateY(50px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

footer{
    position:absolute;
    bottom:0;
    right:0;
    width: 100%;
    padding:2rem;
    @include tablet-query{
        position: relative;
        padding:2rem 0;
    }
    .rules__button{
        display: block;
        margin-left: auto;
        background-color: transparent;
        font-size:$font-small;
        color:inherit;
        text-transform: inherit;
        font-family: inherit;
        border:2px solid $header-outline;
        padding:0.5rem 2.5rem;
        border-radius:10px;

        @include tablet-query{
            margin: auto;
        }
    }
}

.rules__modal{
    padding:1.5rem 2rem;
    position: fixed;
    top:0;
    bottom:0;
    z-index: 1;
    margin:auto;
    height: fit-content;
    display: none;
    flex-direction: column;
    justify-content: center;

    @include mobile-query{
        height:100%;
        width: 100%;
        border-radius:0;
    }
    &.show{
        display: flex;
        + header{
            z-index: -1;
        }
    }

    .rules__header{
        display: flex;
        align-items: center;

        @include mobile-query{
            justify-content: center;
        }
    }

    .close__button{
        margin-left: auto;
        @include mobile-query{
            position: absolute;
            bottom:10%;
        }
    }

    h3{
        font-size: 2rem;
        color:$dark-text;
    }

    img{
        width: 90%;
        margin:0 auto;
    }

    &::before, &::after{
        content:'';
        top:0;
        left: 0;
        z-index: -1;
    }

    &::before{
        height:100vh;
        width: 100vw;
        background-color: $light-gray;
        position: fixed;
    }

    &::after{
        position:absolute;
        height:100%;
        width: 100%;
        background-color: white;
        border-radius: 10px;
    }
}