
html,body{
    margin:0;
    padding:0;
}

h1,h2{
    margin:0;
}

h1{
    font-size:2.5rem;
}

h2{
    font-size:2rem;
}

h3{
    font-size:1.5rem;
}

button{
    border:none;
    cursor:pointer;
}