@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

$font-barlow:'Barlow Semi Condensed', sans-serif;

$font-large:4rem;
$font-regular:2rem;
$font-small:1.2rem;