
.navbar{
    font-family: $commissionerFont;
    color: white;
    position:fixed;
    top:0;
    width: 100%;
    z-index:1;

    &.filled{
        background-color: black;
    }
    
    &__inner{
        position: relative;
        display: flex;
        align-items: center;
        padding:25px 0;
        max-width: 80%;
        margin:auto;

        @include mobile-query{
            max-width:90%;
        }
    }

    &__btn{
        display: none;

        @include mobile-query{
            display: block;
            margin-left:auto;
        }

        &[data-open="true"]{
            img[alt="Close menu"]{
                display: block;
            }
            img[alt="Open menu"]{
                display: none;
            }
        }

        &[data-open="false"]{
            img[alt="Close menu"]{
                display: none;
            }
            img[alt="Open menu"]{
                display: block;
            }
        }
    }

    &__links{
        display: flex;
        justify-content: flex-end;
        flex:1;

        @include mobile-query{
            display: none;
            width: 90%;
            flex-direction: column;
            position:absolute;
            top:100%;
            left: 0;
            right: 0;
            margin: auto;
            background:white;
            color:black;
            border-radius:10px;

            &.active{
                display: flex;
            }
        }
    }

    &__link{
        margin:0 1rem;

        @include mobile-query{
            margin:0;
            padding:1.5rem;
            font-weight: bold;

            &:not(:last-child){
                border-bottom:1px solid rgba(0,0,0,0.1);
            }
        }
    }
}