$light-gray:rgba(255,255,255,0.75);

$light-red:hsl(356, 100%, 66%);
$very-light-red:hsl(355, 100%, 74%);
$very-dark-blue:hsl(208, 49%, 24%);

$grayish-blue: hsl(240, 2%, 79%);
$dark-grayish-blue:hsl(207, 13%, 34%);
$very-dark-black-blue:hsl(240,10%,16%);

$hero-gradient:linear-gradient(to right,   hsl(13, 100%, 72%), hsl(353, 100%, 62%));